[submodule "plugins/fast-syntax-highlighting"]
	path = plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "plugins/fzf-tab"]
	path = plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "plugins/pass-zsh-completion"]
	path = plugins/pass-zsh-completion
	url = https://github.com/ninrod/pass-zsh-completion
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions/
[submodule "plugins/zsh-history-substring-search"]
	path = plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "plugins/zsh-navigation-tools"]
	path = plugins/zsh-navigation-tools
	url = https://github.com/apjanke/zsh-navigation-tools
[submodule "plugins/plugins/zsh-vim-mode"]
	path = plugins/plugins/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode
[submodule "plugins/zsh-vim-mode"]
	path = plugins/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode
[submodule "plugins/fancy-ctrl-z"]
	path = plugins/fancy-ctrl-z
	url = https://github.com/mdumitru/fancy-ctrl-z
[submodule "themes/powerlevel10k"]
	path = themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
